body {
    background-image: url('../images/canadian-dollar.png');
    /* font-family: 'Candara'; */
}

.content-wrapper {
    /* background-color: azure; */
    margin: 100px 100px auto;
    text-align: center;
    height: 500px;
}

/* p.bold {
    margin: 50px 50px 50x;
} */

